{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-async-to-module-method"
  ],
  "env": {
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert"
      ]
    }
  }
}
